{% extends 'basic.html' %}
{%load static%
{%block content%}

<div id="layoutSidenav_content" style="margin-right:20px;">
                <main>
                    <div class="container-fluid">
                        <hr>
                        <ol class="breadcrumb mb-4" style="background:white;">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Plotly</li>
                        </ol>


                        <div class="card mb-4">
                            <div class="card-body">
                                   {% load plotly_dash %}
                                    {% plotly_app name="app" ratio=0.8 %}
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
{%endblock%}