{% extends 'basic.html' %}
{%load static%
{%block content%}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Plotly</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Plotly</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                {%for column in columns%}
                                    {{column}}
                                {%endfor%}
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-body">
                                <form action = "/dashboard/show/plotly/" method="post" id="chartform">
                                    {% csrf_token %}
                                  <div class="row">
                                    <div class="col">
                                      <input type="text" class="form-control" name="x" placeholder="X parameter">
                                    </div>
                                    <div class="col">
                                      <input type="text" class="form-control" name="y" placeholder="Y parameter">
                                    </div>
                                  </div>
                                    <input type="submit">
                                </form>
                            </div>
                        </div>

                                {% autoescape off %}
                                {{ plot_div | safe }}
                                {% endautoescape %}

                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
{%endblock%}