{% extends 'basic.html' %}
{%load static%
{%block content%}

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Tables</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                {%for f in frow%}
                                                    <th>{{f}}&nbsp;&nbsp;</th>
                                                {%endfor%}
                                            </tr>
                                        </thead>
                                        <tfoot>
                                             {%for f in frow%}
                                                    <th>{{f}}&nbsp;&nbsp;</th>
                                                {%endfor%}
                                        </tfoot>
                                        <tbody>
                                            {% for row in rows %}
                                                <tr>
                                                    {% for cell in row %}
                                                    <td>{{ cell }}&nbsp;&nbsp;</td>
                                                    {%endfor%}
                                                </tr>
                                            {%endfor%}

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
{%endblock%}