{% extends 'basic.html' %}
{%load static%
{%block content%}
<div class="row">
    <div class="col">
        <div class="col-auto mr-auto">
            <div class="card mb-4" style=" margin-left:160px; margin-top:70px;">
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">

<!--                        <ol class="breadcrumb mb-4">-->
<!--                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>-->
<!--                            <li class="breadcrumb-item active">Tables</li>-->
<!--                        </ol>-->
                        <br>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">

                                <div class="table-responsive" style="height:600px;">
                                    <table class="table table-bordered" id="dataTable" width="100%" >
                                        <thead>
                                            <tr style="font-size:13px;">
                                                {%for heading in frow%}
                                                    <th>{{heading}}&nbsp;&nbsp;</th>
                                                {%endfor%}
                                            </tr>
                                        </thead>
<!--                                        <tfoot>-->
<!--                                             {%for heading in excel_heading%}-->
<!--                                                    <th>{{heading}}&nbsp;&nbsp;</th>-->
<!--                                                {%endfor%}-->
<!--                                        </tfoot>-->
                                        <tbody>
                                            {% for row in rows %}
                                                <tr style="font-size:13px;height:5px;">
                                                    {% for cell in row %}
                                                    <td>{{ cell }}&nbsp;&nbsp;</td>
                                                    {%endfor%}
                                                </tr>
                                            {%endfor%}

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </main>
            </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}