{% extends 'basic.html' %}
{%load static%}
{%block content%}
<div class="container">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Change Password</h3></div>
                                    <div class="card-body">
                                        <form action="change-password" method="post">
                                            {% csrf_token %}
                                            {% if message is not None%}
                                                {% ifequal success|stringformat:"s" "true" %}
                                                    <div class="alert alert-success" role="alert">
                                                        {{message}}
                                                    </div>
                                                {% endifequal %}
                                                {% ifequal success|stringformat:"s" "false" %}
                                                    <div class="alert alert-warning" role="alert">
                                                        {{message}}
                                                    </div>
                                                {% endifequal %}
                                            {%endif%}
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Enter Current Password</label>
                                                <input class="form-control py-4" id="current_password" type="password" name = "current_password" placeholder="Enter Current Password" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputPassword">Enter New password</label>
                                                <input class="form-control py-4" id="new_password_first" type="password" name="new_password_first" placeholder="Enter New password" required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputPassword">Enter New password Again</label>
                                                <input class="form-control py-4" id="new_password_second" type="password" name="new_password_second" placeholder="Confirm password" required/>
                                            </div>
                                            <div class="card-footer text-center" >
                                               <button class="btn btn-primary"type="submit">Change Password</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
</div>
{%endblock%}