{% extends 'basic.html' %}
{%load static%
{%block content%}
<div class="container">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Password Recovery</h3></div>
                                    <div class="card-body">
                                        <div class="small mb-3 text-muted">Enter your email address and we will send you a link to reset your password.</div>
                                        {% if error is not None%}
                                            <div class="alert alert-warning" role="alert">
                                                    {{error}}
                                            </div>
                                        {%endif%}
                                        <form action="/dashboard/reset/password/" method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                                <input class="form-control py-4" id="inputEmail" type="email" aria-describedby="emailHelp" name="email" placeholder="Enter email address" />
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Password</label>
                                                <input class="form-control py-4" id="inputEmailAddress" type="password" aria-describedby="emailHelp" name="password" placeholder="Password" />
                                            </div>
                                             <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Confirm Password</label>
                                                <input class="form-control py-4" id="inputpassword" type="password" aria-describedby="emailHelp" name="cpassword" placeholder="Confirm Password" />
                                            </div>
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="/dashboard/login/">Return to login</a>
                                               <button class="btn btn-primary" type="submit">Reset password</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
</div>
{%endblock%}

