{% extends 'basic.html' %}
{%load static%}
{%block content%}
<div class="row">
    <div class="col">
        <div class="col-auto mr-auto">
            <div class="card mb-4" style=" margin-left:150px; margin-top:45px; margin-right:-12px;">
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid">

                            <!--                        <ol class="breadcrumb mb-4">-->
                            <!--                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>-->
                            <!--                            <li class="breadcrumb-item active">Tables</li>-->
                            <!--                        </ol>-->
                            <br>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <form action="/dashboard/table/upload/" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                                       aria-describedby="inputGroupFileAddon01"
                                                       title="Upload excel file"
                                                       name="excel_file"
                                                       required="required">
                                                <label class="custom-file-label" for="inputGroupFile01"
                                                       id="file-upload-filename">Choose file</label>
                                            </div>
                                            <div class="input-group-prepend" style="margin-left:10px;">
                                                <input type='submit' value="Upload" style='border-style:1px;'
                                                       align="center">
                                            </div>
                                        </div>
                                        <br>
                                        <div align="center">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input"  value="motorcycle" name="checks[]"  id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">Save
                                                    to drive</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table mr-1"></i>
                                    {{file_name|default:"Nothing to show"}}
                                </div>
                                <div class="card-body">

                                    <div class="table-responsive" style="height:600px;">
                                        <table class="table table-bordered" id="dataTable" width="100%">
                                            <thead>
                                            <tr style="font-size:13px;">
                                                {%for heading in excel_heading%}
                                                <th>{{heading}}&nbsp;&nbsp;</th>
                                                {%endfor%}
                                            </tr>
                                            </thead>
                                            <!--                                        <tfoot>-->
                                            <!--                                             {%for heading in excel_heading%}-->
                                            <!--                                                    <th>{{heading}}&nbsp;&nbsp;</th>-->
                                            <!--                                                {%endfor%}-->
                                            <!--                                        </tfoot>-->
                                            <tbody>
                                            {% for row in excel_data %}
                                            <tr style="font-size:13px;height:5px;">
                                                {% for cell in row %}
                                                <td>{{ cell }}&nbsp;&nbsp;</td>
                                                {%endfor%}
                                            </tr>
                                            {%endfor%}

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}